.App {
  text-align: center;
}

.container{
  padding: 0.5em 0;
  display: flex;
  overflow-x: scroll;
}
#evalContainer{
  border: 5px dashed rgba(128, 128, 128, 0.573);
  height: 150px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

button{
  border:none;
  padding: 0.5em;
  margin: 1em 0;
  width: 100%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #363062;
}

span{
  width: 3em;
}